/* Visual Composer tweaks & fixes
-------------------------------------------------------------- */
/* Remove top padding on row has color background */
.vc_col-has-fill>.vc_column-inner,
.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner { padding-top: 0 !important; }

/* Remove default vc margins - IMPORTANT So users can select their own margins in the composer */
.wpb_row,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin,
.wpb_button { margin-bottom: 0 }

/* Don't allow max-width classes on this element */
.wpb_row { max-width: none }

/* Stretch row content fix */
.stretch_row_content .vc_col-sm-12 { padding-left: 0; padding-right: 0; }

/* Rows without margins */
.no-margins { margin: 0 !important }
.no-margins .vc_column-inner { padding-left: 0 !important; padding-right: 0 !important; }
.row-no-spacing .wpb_column { padding: 0 !important }

/* Single image fixes */
.wpb_single_image .vc_single_image-wrapper { overflow: hidden; }
.wpb_single_image a { display: block; display: inline-block; max-width: 100%; /*required for firefox bug*/ }
.vc_single_image-wrapper { position: relative; }


.equalize .vc_column-inner { height :100%; }
.vc_row.separator.light > .wpb_column { border-left: 1px solid #e0e0e0; }
.vc_row.separator.dark > .wpb_column { border-left: 1px solid #525354; }
.vc_row.separator > .wpb_column:first-child { border-left: 0; }
@media only screen and (max-width: 767px) {
	.vc_row.separator.light > .wpb_column,
	.vc_row.separator.dark > .wpb_column { border: 0; }
}